<meta charset="utf-8">

<title>{% if page.title %}{{ page.title | strip_html | strip_newlines | escape_once }} - {% endif %}{{ site.title }}</title>

<meta name="description" content="{{ page.excerpt | default(site.description) | strip_html | strip_newlines | escape_once }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">

<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.url }}{{ site.baseurl }}/feed.xml">

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
